# Virtual environment
venv/

# Cache files
__pycache__/
*.pyc

# Environment variables
.env

# Streamlit cache
.streamlit/

# Ignore uploaded PDFs
*.pdf

# Ignore FAISS & embeddings
*.bin
*.npy

# Ignore model weights if downloaded locally
*.pt
